@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
  font-family: "Cairo", sans-serif;
  background-color:rgb(179, 201, 241) ;
}

.container{
background-color: white;
}
#btn {
  border: 2px solid black;
  background-color: none;
  transition: all 1s ease;
}

#btn:hover {
  background-color: rgb(92, 143, 238);
  border-color: rgb(92, 143, 238);
  color: white;
}
